@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #0cb648;
  --secondary-color: #0D0D0D;
  --terciary-color: #504f4f;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh; /* Permite que a altura do body cresça conforme o conteúdo */
  margin: 0;         /* Remove margens padrão */
  padding: 0;
  overflow-x: hidden; /* Evita rolagem horizontal */
}


body {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

nav {
  border: 3px solid var(--primary-color);
  padding: 1.6rem 3.5rem;
  display: flex;
  gap: 5rem;
  background-color: var(--terciary-color);
  border-radius: 100px;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 8px rgba(128, 128, 128, 0.547);
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;

}

nav a:hover {
  color: #0cb648;
  transition-duration: 0.3s;
}

i {
  margin-right: 1rem;
}



.container {
  width: 100vw;
}

.container-dash {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.box1 {
  gap: 4rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}




.box-counts {
  border: 2px solid var(--primary-color);
  background-image: linear-gradient(135deg, var(--secondary-color), rgb(39, 38, 38), var(--secondary-color));
  color: var(--text-light);
  padding: 1rem;
  width: 30%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}

.box-counts h1 {
  display: flex;
  align-items: center;
  gap: 2px;
}

.box-counts h1 i{
  color: var(--primary-color);
}

.box-counts h2 {
  width: 100%;
  text-align: right;
}



.login-container, .register-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--white);
}

.login-container h2, .register-container h2{
  text-align: center;
  width: 100%;
} 

#login-form, #register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

video {
  width: 600px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.camera-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#capture-button {
  width: 60%;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: bold;
  border-radius: 100px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#capture-button:hover {
  background-color: white;
  color: var(--primary-color);
  transition-duration: 0.3s;
  cursor: pointer;
}

#username {
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

#login-form button[type=submit], #register-form button[type=submit] {
  background-color: var(--primary-color);
  padding: 1rem 0;
  font-size: 1.2rem;
  border: none;
  background-color: var(--primary-color);
  font-weight: bold;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#login-form button[type=submit]:hover, #register-form button[type=submit]:hover{
  background-color: white;
  color: var(--primary-color);
  transition-duration: 0.3s;
}

.tutorial-container {
  position: absolute;
  width: 400px;
  left: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.tutorial-container ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.tutorial-container ul li {
  border-bottom: 1px solid var(--terciary-color);
  padding-bottom: 5px;
  padding-left: 5px;
}

.list-num {
  list-style-type: decimal;
}


#message {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.container-history {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 60%;
  margin: 2rem 0;
}

.container-history h1 {
  font-size: 3rem;
}

.container-history table {
  border: 1px solid white;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-spacing: 10px; /* Adiciona 10px de espaço entre as células */
 
  
}

.container-history table th {
   background-image: linear-gradient(135deg, var(--secondary-color), rgb(90, 87, 87), var(--secondary-color));
  text-align: left;
  color: var(--white);
  font-size: 1.5rem;
  border: 2px solid var(--primary-color);
}

.container-history table td {
  text-align: left;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
}

.container-history table th, .container-history table td {
  border-radius: 10px;
  padding: 10px 1rem;
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(200px); /* Inicializa fora da tela */
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

.nav__logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  margin: 2rem 0;
}

.nav__logo img {
  display: flex;
  max-width: 36px;
}
.btn-logout {
  padding: 1rem 2rem;
  background-color: #6e0505;
  color: var(--white);
  font-size: 2rem;
  margin: 3rem 0;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.btn-logout:hover{
  background-color: white;
  color: #a10404;
  border: 1px solid #a10404;
  transition-duration: 0.3s;
}