{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="container-dash">
      <div class="box box1">
        <div class="box-counts">
          <h1>
            <i class="fa-solid fa-chart-line"></i>
            Acessos de hoje
          </h1>
          <h2>Total: 0</h2>
        </div>
        <div class="box-counts">
          <h1>
            <i class="fa-solid fa-chart-line"></i>
            Acessos do mês
          </h1>
          <h2>Total: 0</h2>
        </div>
      </div>
      <div class="box box2">
        <div class="box-counts">
          <h1>
            <i class="fa-solid fa-chart-line"></i>
            Faces registradas
          </h1>
          <h2>Total: 0</h2>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}




